@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  /* max-width: 660px; */
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

table {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

#result {
  margin-top: 75px;
  margin-bottom: 60px;
  font-size: 30px;
  transition: 0.2s;
}

button {
  width: 220px;
  height: 50px;
  margin: 0;
  border: 3px solid #11f;
  border-radius: 3px;
  font-size: 20px;
  background-color: white;
  transition: 0.2s;
}

button:hover {
  background-color: #11f;
  color: white;
  cursor: pointer;
}

tr {
	display: flex;
}

td {
  width: 200px;
  height: 200px;
  border: 3px solid #11f;
  color: green;
  font-size: 180px;
  text-align: center;
  line-height: 200px;
}

.top {
  border-top: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}
